name: golangci-lint

on: [ pull_request ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.4
      - name: Run golangci-lint
        run: $(go env GOPATH)/bin/golangci-lint run -c .golangci-lint.yml
