name: Test and coverage

on: [ pull_request ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.25.x ]
        os: [ ubuntu-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.x

      - name: go get
        run: go get ./...

      - name: Run coverage
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
